:root{
    --box-width:200px;
    --box-height:75px;
}
body{
    overflow: hidden;
}
section{
    position: relative;
    width: 100vw;
    height: 100vh;
}
div{
    width: var(--box-width);
    height: var(--box-height);
    background-color: blue;
    border-radius: 20px;
    animation-name: my-animations;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: absolute;
}
@keyframes my-animations {
    0%{
        margin-top: 0;
        margin-left: 0;
        transform: rotate(0deg);
    }
    25%{
        background-color: yellow;
        margin-top: 0;
        margin-left: calc(100vw - var(--box-width));
        transform: rotate(180deg);
    }
    50%{
        background-color: red;
        margin-top: calc(100vh - var(--box-height));
        margin-left: calc(100vw - var(--box-width));
        transform: rotate(0deg);
    }
    75%{
        background-color: deeppink;
        margin-top: calc(100vh - var(--box-height));
        margin-left: 0;
        transform: rotate(180deg);
    }
    100%{
        background-color: orange;
        margin-top: 0;
        margin-left: 0;
        transform: rotate(0deg);
    }
}
