section{
    width: 50vw;
    height: 50vh;
    border: 2px solid red;
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
section>div{
    width: 50vw;
    height: 50vh;
    background-size: cover;
    position: absolute;
    animation-name: my-animations;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
section>div:nth-child(1){
    background-image: url("../assets/animation_slide/slide1.jpeg");
}
section>div:nth-child(2){
    background-image: url("../assets/animation_slide/slide2.jpeg");
    left: 50vw;
}
section>div:nth-child(3){
    background-image: url("../assets/animation_slide/slide3.jpeg");
    left: 100vw;
}
section>div:nth-child(4){
    background-image: url("../assets/animation_slide/slide4.jpeg");
    left: 150vw;
}
@keyframes my-animations {
    0%,20%{
        transform: translateX(-150vw);
    }
    25%,45%{
        transform: translateX(-100vw);
    }
    50%,70%{
        transform: translateX(-50vw);
    }
    75%,95%{
        transform: translateX(0vw);
    }
    100%{
        transform: translateX(0vw);
    }
}
