
body{
    overflow: hidden;
}
section{
    position: relative;
    width: 100vw;
    height: 100vh;
}
div{
    border-radius: 100%;
    animation-name: my-animations;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
@keyframes my-animations {
    from{
        border: 0;
        width: 0;
        aspect-ratio: 1/1;
    }
    to{
        border: 2px solid red;
        width: 200px;
        aspect-ratio: 1/1;
        opacity: 0;
    }
}
